/*
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.text-center {
  text-align: center;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 800;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.mb-medium {
  margin-bottom: 3.2rem;
}

.mb-large {
  margin-bottom: 4.8rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-2--cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.grid-3--cols {
  grid-template-columns: repeat(3, 1fr);
}

section {
  border-top: 8px solid #232323;
}

.header {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../img/header.jpg);
  background-size: 120%;
  background-position: center top;
  position: relative;
}

.logo {
  width: 148px;
  height: 40px;
  fill: #e50914;
}

.btn {
  display: inline-block;
  border: none;
  background-color: #e50914;
  color: #fff;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 4px;
}

nav {
  padding-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  color: #fff;
  width: 120rem;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 65%;
}

.header-container h1 {
  font-size: 5.2rem;
  font-size: 900;
  line-height: 1.1;
  margin-bottom: 3.2rem;
  letter-spacing: -1.5px;
}

.header-container p {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}

.form-control {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.input-control {
  border: none;
  outline: none;
  border: 1px solid #f7f7f7;
  border-radius: 4px;
  padding: 1.6rem 2.4rem;
  flex-basis: 45rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  color: #fff;
}

.form-control .btn {
  font-size: 2.4rem;
  padding: 1.2rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* FEATURE SECTION */

.section-features {
  padding: 4.5rem 0;
}

.feature-img {
  width: 100%;
}

.feature-text {
  font-size: 2rem;
  line-height: 1.6;
}

/* FAQ SECTION */
.section-faq {
  padding: 4.5rem 0;
}

.faq-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq {
  background-color: #2d2d2d;
  padding: 2.4rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq span {
  font-size: 2.4rem;
}

.faq-icon {
  height: 3.2rem;
  width: 3.2rem;
}

/* FOOTER */
.footer {
  padding: 4.5rem 0;
  color: #b3b3b3;
}

.footer-text {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.footer a {
  color: #b3b3b3;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-item {
  font-size: 1.4rem;
}
